<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mongodb quota-enforcer dashboard</title>

    <link th:href="@{/css/orangeHelvetica.css}" rel="stylesheet">
    <link th:href="@{/css/orangeIcons.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/boosted.css}" />

</head>

<body>
<div class="skiplinks">
    <div class="skiplinks-section sr-only">
    </div>
</div>


<header role="banner">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Mongodb quota-enforcer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#orange-navbar-collapse" aria-controls="orange-navbar-collapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse justify-content-between collapse" id="orange-navbar-collapse">
                <ul class="navbar-nav">

                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>


<main id="content" class="container-fluid">

   <br><br>

    <div class="row col-wrap">
        <div class="col-md-12 col" id="first">
            <div class="info-block">

                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#overview" data-toggle="tab">Overview</a></li>
                    <li class="nav-item"><a class="nav-link" href="#quota-enforcer" data-toggle="tab">Logs</a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="overview">
                        <table id="news-table" class="table tablesorter">
                            <thead>
                            <tr>
                                <th scope="col" class="header">Instance name
                                </th>
                                <th scope="col" class="header">Instance id
                                </th>
                                <th scope="col" class="header">Size
                                </th>
                                <th scope="col" class="header">Space id
                                </th>
                                <th scope="col" class="header">Created at</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="db : ${all_databases}">
                                <td th:text="${db.cfName}">1</td>
                                <td th:text="${db.name}">1</td>
                                <td><div class="progress"><div th:class="'progress-bar '+(${db.size}/${planSizeLimit}  > 0.75 ? 'bg-danger')" role="progressbar"  th:style="'width: '+100*${db.size}/${planSizeLimit}+'%'" th:aria-valuenow="${db.size}/${planSizeLimit}" aria-valuemin="0" aria-valuemax="100"><span style="margin: 0.3em 0 0 0.3em;" th:text="${db.size} + ' / ' + ${planSizeLimit} + ' Mo'"></span></div></div></td>

                                <td th:text="${db.cfSpace}"></td>

                                <td th:text="${db.created_at}"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane" id="quota-enforcer">
                        <p th:class="${log.severity} == 'debug' ? text-secondary : text-danger" th:each="log : ${quotaEnforcerLogs}" th:text="${log.date} +' :: '+${log.severity} +' :: '+ ${log.str}"></p>
                    </div>


                </div>
            </div>
        </div>


    <div class="row base col-wrap">
        <!-- add a second row of wells or rounded corner divs immeadiately underneath - tips to create x same height columns -->
        <div class="col-md-6 col-base">
            <div class="info-block"></div>
        </div>
        <div class="col-md-6 col-base">
            <div class="info-block"></div>
        </div>
    </div>


    </div>
    <!-- fin de la row globale-->
</main>
<!--/.container-->

<footer role="contentinfo">
    <div class="container-fluid ">
        <p>
            <a href="#"><span>contact</span></a>
            <a href="#" class="float-md-right"><span>help</span></a>
        </p>
    </div>
</footer>


<!-- Boosted core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<!-- Include all compiled plugins bootstrap, bootstrap accessibility plugin and boosted specific components (below), or include individual files as needed -->
<script th:src="@{/js/boosted.js}"></script>
<script th:src="@{/js/jquery.tablesorter.min.js}"></script>


<!-- <script type="text/javascript" src="http://confort-plus.orange.com/js/toolbar-min.js"></script> -->
</body>
</html>

